# Dependências do Node (Pesado demais, não sobe)
node_modules/

# Variáveis de Ambiente e Segredos (CRÍTICO: Nunca suba isso)
.env

# Logs de erro e debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

# Arquivos de Sistema Operacional (Lixo)
.DS_Store
Thumbs.db

# Configurações do VS Code (Opcional, boas práticas geralmente ignoram)
.vscode/